{% extends 'corp/base.html' %}
{% load widget_tweaks %}

{% block content %}
 {#  Some place  #}

{#  some text maybe  #}

{#  Addon content  #}
      <h2 align="center">Аддоны пользователя</h2>
  <h4 align="center">{{corp_name}}</h4>
  <br>
  <a href="{% url 'addon_append' id_user=id_user %}?next={{ request.get_full_path|urlencode }}">
    <button type="button" class="btn btn-primary">Добавить</button>
  </a>
  <a href="{% url 'home' %}">
    <button type="button" class="btn btn-warning">Назад</button>
  </a>
  {% if addons %}
  <table class="table table-hover">
    <tr>
      <th class="text-center">Название аддона</th>
       <th class="text-center">Полная информация</th>
      {% if user.is_superuser %}
      <th class="text-center"></th>
      {% endif %}
    </tr>
    {% for addon in addons %}
    <tr>
      <td class="text-center">{{addon.name}}</td>
      <td class="text-center">
        <a href="{% url 'addon_view_info' id_addon=addon.id_addon %}?next={{ request.get_full_path|urlencode }}">
          <button type="button" class="btn btn-info">Просмотр информации</button>
        </a>
      </td>
      {% if user.is_superuser %}
      <td class="text-center">
        <a href="{% url 'addon_delete' id_addon=addon.id_addon %}?next={{ request.get_full_path|urlencode }}" >
          <button type="button" class="btn btn-danger">Удалить</button>
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}


{#  Analizer content  #}

<br>
<h2 align="left">Виды анализа текста</h2>

<form method="post">
  <ul id="radio-list">
    <li>
    <input type="radio" value="name" id="rb-1" name="extract" CHECKED>
    <label for="rb-1">Экстрактор имён</label>
  </li>
  <li>
    <input type="radio" value="location" id="rb-2" name="extract">
    <label for="rb-2">Экстрактор местоположений</label>
  </li>
  <li>
    <input type="radio" value="date" id="rb-3" name="extract">
    <label for="rb-3">Экстрактор дат</label>
  </li>
  <li>
    <input type="radio" value="money" id="rb-4" name="extract">
    <label for="rb-4">Экстрактор денежных сумм</label>
  </li>
  <li>
    <input type="radio" value="graph" id="rb-5" name="extract">
    <label for="rb-5">Частотный анализ слов</label>
  </li>
  </ul>
  <a href="{% url 'analyze' id_item=id_item %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-success" value="Запуск анализа"></input>
  </a>
</form>
{% endblock %}
